{
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:all",
    "plugin:react/all",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard",
    "plugin:jest/all"
  ],
  "plugins": ["prettier", "react", "jsx-a11y", "jest"],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [
        "forbidExtraProps",
        {"property": "freeze", "object": "Object"},
        {"property": "myFavoriteWrapper"}
    ],
    "linkComponents": [
      "Hyperlink",
      {"name": "Link", "linkAttribute": "to"}
    ]
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    react/require-optimization: 0,
    "sort-imports": ["error", {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],
    "react/jsx-no-literals": 0,
    "react/forbid-prop-types": 0
  }
}
